<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/production/jquery-ui.min.css" th:href="@{/resources/production/jquery-ui.min.css}"/>
    <link rel="stylesheet" href="../../resources/production/primeui-1.1-min.css" th:href="@{/resources/production/primeui-1.1-min.css}"/>
    <link rel="stylesheet" href="../../resources/themes/delta/theme.css" th:href="@{/resources/themes/delta/theme.css}"/>
    <script type="text/javascript" src="../../resources/production/external/jquery/jquery.js" th:src="@{/resources/production/external/jquery/jquery.js}"></script>
    <script type="text/javascript" src="../../resources/production/jquery-ui.min.js" th:src="@{/resources/production/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="../../resources/production/primeui-1.1-min.js" th:src="@{/resources/production/primeui-1.1-min.js}"></script>
    <title>Yogyakarta Tour</title>
</head>
<body>
<h1>Test ThymeLeaf</h1>
</body>
</html>