<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/production/jquery-ui.min.css"
          th:href="@{/production/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/production/primeui-1.1-min.css"
          th:href="@{/production/primeui-1.1-min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/themes/aristo/theme.css"
          th:href="@{/themes/aristo/theme.css}"/>
    <script rel="javascript" type="text/javascript" src="../static/production/external/jquery/jquery.js"
            th:src="@{/production/external/jquery/jquery.js}"></script>
    <script rel="javascript" type="text/javascript" src="../static/production/jquery-ui.min.js"
            th:src="@{/production/jquery-ui.min.js}"></script>
    <script rel="javascript" type="text/javascript" src="../static/production/primeui-1.1-min.js"
            th:src="@{/production/primeui-1.1-min.js}"></script>
    <style type="text/css">
        .ui-widget, .ui-widget .ui-widget {
            font-size: 70% !important;
        }
    </style>
    <title>Yogyakarta Tour</title>
</head>
<body>
<h1 align="center" th:text="${message}">Test ThymeLeaf</h1>
</body>
</html>