<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Yogyakarta Tour</title>
    <object th:include="fragment/fragment :: header" th:remove="tag"/>
</head>
<body>
<div th:replace="fragment/fragment :: main-user"></div>

<div th:replace="fragment/fragment :: footer"></div>
</body>
</html>