<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/production/jquery-ui.min.css" th:href="@{/production/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/production/primeui-1.1-min.css" th:href="@{/production/primeui-1.1-min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/themes/aristo/theme.css" th:href="@{/themes/aristo/theme.css}"/>
    <script rel="javascript" type="text/javascript" src="../static/production/external/jquery/jquery.js" th:src="@{/production/external/jquery/jquery.js}"></script>
    <script rel="javascript" type="text/javascript" src="../static/production/jquery-ui.min.js" th:src="@{/production/jquery-ui.min.js}"></script>
    <script rel="javascript" type="text/javascript" src="../static/production/primeui-1.1-min.js" th:src="@{/production/primeui-1.1-min.js}"></script>
    <style type="text/css">
        .ui-widget, .ui-widget .ui-widget {
            font-size: 70% !important;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $('#error_login').puigrowl();
            $('#error_login').puigrowl('show', [{severity: 'warn', summary: 'Login Failed', detail: 'Invalid Username or Password!'}]);
        });
    </script>
    <title>Yogyakarta Tour</title>
</head>
<body>
<div th:if="${param.error}">
    <div th:id="error_login" />
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>