<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <link rel="stylesheet" type="text/css" href="../../static/production/jquery-ui.min.css" th:href="@{/production/jquery-ui.min.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/production/primeui-1.1-min.css" th:href="@{/production/primeui-1.1-min.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/themes/aristo/theme.css" th:href="@{/themes/aristo/theme.css}"/>
        <script rel="javascript" type="text/javascript" src="../../static/production/external/jquery/jquery.js" th:src="@{/production/external/jquery/jquery.js}"></script>
        <script rel="javascript" type="text/javascript" src="../../static/production/jquery-ui.min.js" th:src="@{/production/jquery-ui.min.js}"></script>
        <script rel="javascript" type="text/javascript" src="../../static/production/primeui-1.1-min.js" th:src="@{/production/primeui-1.1-min.js}"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" th:href="@{/css/custom.css}"/>
        <script type="text/javascript" src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
    </head>
    <body>
        <footer th:fragment="footer_login">
            <h3>test</h3>
        </footer>
        <footer th:fragment="footer_main">
            <h3>main</h3>
        </footer>
    </body>
</html>